.lightFont {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 100;
    color: white;

}
.lightFont:hover{
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 100;
  color: black;
}

.darkThin{
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 200;
}

.div-btn{
  padding-top: 3%;
  padding-bottom: 1%;
  border-right: 5px solid white;
  border-bottom: none !important;

  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 200;
  color: white;

}

.div-btn:hover{
  background-color: white;
  color: black;
}

.no-margin{
  margin: 0px !important;
}

.small-margin{
  margin: 3% !important;
}

.expCard{
  padding: 5%;
  text-align: center;
}

.remove-shadow{
  text-shadow: none !important;
}

.ind-Card{
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 5%;
  background-color: rgba(255,255,255,.83);
  padding-top: 1%
}



.cardContainer{
  border-right: 2px black;
  padding-bottom: 1%
}

.cardPane{
  background-color: #F8F8F8;
  border-radius: 1px;
  text-align: center;
  align-items: center;

}

.cardPane:hover{
  background-color: #f7d116;
}

.cardPaneAuxHover{
  background-color: #f7d116;

}

.list-group-item {
  background-color: transparent;
  border-top: 1px solid #ddd;
  border-radius: 0;
  color: #000;
}

.cardTop{
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
  height: 150px;

}

.cardBottom{
  /* box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding-bottom: 5%;
  margin-bottom: 10%;
}

.cardBody {
  margin-top: 10%;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 200;
  color: black;
}

.shadowLargeText{
  text-shadow: 3px 4px 16px #000000, -3px -4px 16px #000;
  font-size: 500%;
  margin-top: 65%;
  color: white;
}

.parallax {
    /* The image used */

    /* Set a specific height */
    min-height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.para1 {
  background-image: url("../img/parallax-img/transport.jpg");
}

.para2 {
  background-image: url("../img/parallax-img/professional3.jpg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.para3 {
  background-image: url("../img/parallax-img/innovation.jpg");
}

.blue-texture {
  background-image: url("../img/black.jpg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.dark-team {
  background-image: url("../img/team-dark.jpg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.row2{
  margin-left: 0% !important;
  margin-bottom: 0% !important;
  margin-top: 0% !important;
}

.endorser{
  font-family: "Raleway";
  font-weight: 500;
  font-size: 175%;
  margin-top: 5%;
}

.endorsor-deets{
  font-family: "Raleway";
  font-weight: 300;
  font-size: 100%;
  margin-top: 5%;
  margin-bottom: 10%;
}

hr.style17{
	border-top: 1px solid #8c8b8b;
	text-align: center;
}
hr.style17:after {
	content: '§';
	display: inline-block;
	position: relative;
	top: -14px;
	padding: 0 10px;
	background: #f0f0f0;
	color: #8c8b8b;
	font-size: 18px;
	-webkit-transform: rotate(60deg);
	-moz-transform: rotate(60deg);
	transform: rotate(60deg);
}
}

.photo-Card{
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 5%;
  background-color: rgba(255,255,255,.83);
}
